*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    min-height:100vh;
    overflow:hidden;
    background:linear-gradient(180deg,#12001f,#22003d,#3b0066,#180026);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

#stars{
    position:fixed;
    inset:0;
    background-image:
    radial-gradient(white 1px,transparent 1px),
    radial-gradient(#d69cff 1px,transparent 1px);
    background-size:70px 70px,130px 130px;
    opacity:.35;
    animation:twinkle 5s infinite ease-in-out;
    pointer-events:none;
}

@keyframes twinkle{
    0%{opacity:.2;}
    50%{opacity:.5;}
    100%{opacity:.2;}
}

#main{
    width:90%;
    max-width:750px;
    text-align:center;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.18);
    border-radius:24px;
    padding:40px;
    box-shadow:0 0 35px rgba(200,120,255,.45);
    animation:pop 1.2s ease;
}

@keyframes pop{
    from{
        transform:scale(.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

#title{
    font-size:55px;
    color:#ffd7ff;
    text-shadow:0 0 20px #d96dff;
    margin-bottom:25px;
}

#cake{
    font-size:100px;
    margin:20px 0;
}

#letter{
    font-size:22px;
    line-height:1.8;
    min-height:170px;
    margin-top:20px;
}

#giftBtn{
    margin-top:35px;
    padding:16px 34px;
    font-size:20px;
    border:none;
    border-radius:40px;
    background:#b84cff;
    color:white;
    cursor:pointer;
    transition:.3s;
}

#giftBtn:hover{
    transform:scale(1.08);
    background:#d16cff;
}
