*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:#00ff41;
    font-family:Consolas, monospace;
    overflow:auto;
}

#terminal{
    padding:30px;
    white-space:pre-wrap;
    font-size:20px;
    line-height:1.8;
    text-shadow:0 0 8px #00ff41;
}

.cursor{
    animation:blink 0.8s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

.center{
    text-align:center;
}

.big{
    font-size:45px;
    font-weight:bold;
}

.red{
    color:#ff4040;
}

.green{
    color:#00ff41;
}

.yellow{
    color:#ffff00;
}
